/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_period_question {
            bindings = <&hold_tap_combo RS(PLUS) PERIOD>;
            key-positions = <4 16>;
        };

        combo_comma_exclamation {
            bindings = <&hold_tap_combo RS(NUMBER_1) COMMA>;
            key-positions = <16 28>;
        };

        combo_plus_equals {
            bindings = <&hold_tap_combo RS(NUMBER_0) PLUS>;
            key-positions = <3 15>;
        };

        combo_minus_underscore {
            bindings = <&hold_tap_combo RS(SLASH) SLASH>;
            key-positions = <15 27>;
        };

        combo_forwardslash_backslash {
            bindings = <&hold_tap_combo RS(RA(NUMBER_7)) RS(NUMBER_7)>;
            key-positions = <2 14>;
        };

        combo_asterisk_hash {
            bindings = <&hold_tap_combo RS(NUMBER_3) RS(SLASH)>;
            key-positions = <14 26>;
        };

        combo_euro_dollar {
            bindings = <&hold_tap_combo RA(NUMBER_4) RS(NUMBER_4)>;
            key-positions = <5 17>;
        };

        combo_at_caret {
            bindings = <&hold_tap_combo RS(RIGHT_BRACKET) RA(NUMBER_2)>;
            key-positions = <17 29>;
        };
    };

    behaviors {
        hold_tap_combo: hold_tap_combo {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold-Tap combo behaviour";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        macos_layer {
            display-name = "MacOS";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp ESCAPE     &kp Z  &kp G     &kp B  &kp X        &kp W    &kp V  &kp P     &kp Q  &kp LEFT_BRACKET  &none
&none  &kp A          &kp E  &kp R     &kp T  &kp F        &kp M    &kp S  &kp N     &kp I  &kp O             &none
&none  &kp SEMICOLON  &kp U  &kp H     &kp L  &kp D        &kp C    &kp J  &kp K     &kp Y  &kp APOSTROPHE    &none
                             &kp LGUI  &mo 1  &kp SPACE    &kp RET  &mo 0  &kp RALT
            >;

            label = "MacOS";
        };

        navigation_layer {
            display-name = "Lower Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp SCROLLLOCK            &kp K_APPLICATION   &kp LG(F13)               &kp LG(F14)       &none         &none          &kp RG(F15)              &kp RG(F16)                &kp INSERT          &kp PAUSE_BREAK      &none
&none  &mt LEFT_SHIFT LG(LS(Z))  &mt LEFT_ALT LG(Z)  &mt LEFT_CONTROL RS(TAB)  &mt LEFT_GUI TAB  &kp DELETE    &kp BACKSPACE  &mt RIGHT_GUI PAGE_DOWN  &mt RIGHT_CONTROL PAGE_UP  &mt RIGHT_ALT HOME  &mt RIGHT_SHIFT END  &none
&none  &none                     &none               &kp LEFT_ARROW            &kp RIGHT_ARROW   &none         &none          &kp DOWN_ARROW           &kp UP_ARROW               &none               &none                &none
                                                     &kp LGUI                  &trans            &kp SPACE     &kp RET        &trans                   &kp RALT
            >;

            label = "Nav";
        };

        number_layer {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none         &none
&none  &none  &none  &none  &none  &none    &none  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0  &none
&none  &none  &none  &none  &none  &none    &none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none         &none
                     &none  &none  &none    &none  &none         &none
            >;

            label = "Num";
        };
    };
};
